header
  nav
    ul(style='list-style-type: none')
      li
        a(href='/') Home
      li
        a(href='/memories') Memories
      li
        a(href='/places') Places
      li
        a(href='/users') Users
