extends layout

block content
  main
    h1 Places
    section(role='search')
      form(method='get', action='/places/')
        label Place search:
        input#searchInput.search(type='text', name='name', placeholder='Enter a place name')
        button(type='submit') Search
    section
      ul
        if places.length > 0
          each place in places
            li(style='list-style-type: none')
              h3= place.name
              if place.memories.length > 0
                p This place has #{place.memories.length} memories:
                ul
                  li
                    each memory in place.memories
                      a(href="/mnemo/" + memory.title) #{memory.title}
              else
                p This place has no memories
              hr
        else
          p No search results
