extends layout

block content
  main
    h1 Places
    ul
      if result.length > 0
        each place in result
          li
            h3= place.name
            p This place has #{place.memories.length} memories:
            ul
              li
                each memory in place.memories
                  a(href='/mnemo?title=' + memory.title) #{memory.title}
      else
        p No search results
      form(method='get', action='/places/')
        label Place search:
        input#searchInput.search(type='text', name='name', placeholder='Enter a place name')
        button(type='submit') Search
