extends layout

block content
  main
    h1 Users
    ul
      if users.length > 0
        each user in users
          li(style='list-style-type: none')
            h3= user.username
            p= user.email
            if users.memories
              ul
                li
                  each memory in user.memories
                    a(href="/mnemo/" + memory.title) #{memory.title}
            hr
      else
        p No search results
